@charset "UTF-8";
*{
    box-sizing: border-box;
    font-size: 14px;
    color:#333;
}
body{
    background: #ddd;
}
form{
    margin: 10px;
    padding: 20px;
    background: #fff;
}
dl{
    margin: 0;
    font-size: 16px;
}
.fontltem{
    display: flex;
    margin-bottom: 2em;
    align-items: center;
}
dt{
    flex: 1 1 30px;
    text-align: right;
    margin-right: 1em;
    font-weight: bold;
    color:#00a
}
dd{
    flex: 2 1 30px;
    margin-left: 0;
}
input[type="text"].textarea{
    border: 1px solid #999;
    width:100%;
    padding: 10px;
    border-radius: 5px;

}
